{% extends "sort.html" %}

{% block content1 %}
<div class="sort">
    <div class="boton">
        <div class="botones">
            <button class="ordenar" onclick="quickSort()" aria-label="Ordenar">
                <i class="fa-solid fa-play"></i>
            </button>
            <button value="Desordenar" class="desordenar" onclick="desordenarArreglo()" aria-label="Desordenar">
                <i class="fa-solid fa-shuffle"></i>
            </button>
        </div>
        <div class="rango">
            <input type="range" title="Count" class="contador" min="10" max="500" value="100" id="rangeInput" oninput="updateValue(this.value)">
            <span id="displayValue"></span>
        </div>
    </div>
{% endblock %}

{% block content2 %}
<div class="info">
    <div class="title">
        <h1>QUICK SORT</h1>
    </div>
      <div class="tabla">
        <table>
            <tr>
                <th style="border-top: transparent; border-left: transparent;">Average Complexity</th>
                <td style="border-top: transparent; border-right: transparent;">O(n log(n))</td>
            </tr>
            <tr>
                <th style="border-left: transparent;">Best Case</th>
                <td style="border-right: transparent;">O(n log(n))</td>
            </tr>
            <tr>
                <th style="border-left: transparent;">Worst Case</th>
                <td style="border-right: transparent;">O(n<sup class="super">2</sup>)</td>
            </tr>
            <tr>
                <th style="border-bottom: transparent; border-left: transparent;">Space Complexity</th>
                <td style="border-bottom: transparent; border-right: transparent;">O(n)</td>
            </tr>
        </table>
    </div>
</div>
    </div>
{% endblock %}